fastapi
uvicorn
uvicorn[standard]
pymongo[srv]
pydantic>=2
pydantic[email]
graypy
motor
redis>=4.2.0
google-auth
python-dotenv
hvac
httpx[http2]
httpx
dnspython
pytest
pytest-cov
bcrypt
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-multipart
sentry-sdk
pre-commit
pydantic_settings
python-jose[cryptography]
Authlib
starlette-session
starlette-session[redis]
